<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h5>
        Halaman Login
      </h5>
      <a href="/">Back To Home</a>
  </body>
</html>
