<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h5>
        Halaman suit
      </h5>
      <a href="/">back to home</a>
  </body>
</html>
